.share {
  width: 100%;
  height: 160px;
  border-radius: 20px;
  background-color: white;
  color: #4e5d78;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.shareWrapper {
  padding: 15px;
}

.shareTop {
  display: flex;
  align-items: center;
  gap: 5px;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  width: 100%;
  height: 50px;
  background-color: #f6f7f8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: none;
  padding-left: 15px;
  font-size: 15px;
}

.shareInput:focus {
  outline: none;
}

.shareBottom {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  gap: 30px;
}

.shareOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 5px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #377dff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  color: white;

  transition: all 0.15s;
}

.shareButton:hover {
  background-color: #1e6dff;
}
